<% if @event.errors.any? %>
      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
<% end %>


<div class="form-group">
  <%= f.label :name, "Name" %>
  <%= f.text_field :name, :required => true, :class => "form-control" %>
</div>

<div class="form-group">
  <%= f.label :category_id, "Category" %>

  <%#= f.select :category_id, Category.all.map{ |x| [ x.name, x.id] }, :class => "form-control" %>

  <%#= f.collection_select :category_id, Category.all, :id, :name, :class => "form-control", :prompt => "Please select" %>

  <% Category.all.each do |c| %>
    <%= f.radio_button :category_id, c.id %> <%= c.name %>
  <% end %>

</div>

<div class="form-group">
  <%= f.label :start_on, "開始日期" %>
  <%= f.date_select :start_on, :required => true, :class => "form-control" %>
</div>

<div class="form-group">
  <%= f.label :schedule_at, "預約時間" %>
  <%= f.datetime_select :schedule_at, :required => true, :class => "form-control" %>
</div>

 <div class="form-group">
  <%= f.label :description, "Description" %>
  <%= f.text_area :description, :class => "form-control" %>
</div>

