<h1>Events list</h1>

<ul>
<% @events.each do |e| %>

  <li>

    <%= e.name %>

    <%= link_to "Show", event_path(e) %>

    <%= link_to "Get XML", event_path(e, :format => :xml) %>
    <%= link_to "Get JSON", event_path(e, :format => :json) %>

    <%= link_to "Edit", edit_event_path(e) %>

    <%= link_to "Delete", event_path(e), :method => :delete %>
  </li>

<% end %>
</ul>

<%= link_to 'New Event', new_event_path %>

<%= paginate @events %>

<%= link_to "Atom feed", events_path(:format => :atom) %>