<h1>Events list</h1>

<table class="table">
<% @events.each do |e| %>

  <tr>
    <td>
    <%= e.name %>
    </td>

    <td>
    <%= link_to "Show", event_path(e), :class => "btn btn-primary" %>

    <%= link_to "Get XML", event_path(e, :format => :xml), :class => "btn btn-default" %>
    <%= link_to "Get JSON", event_path(e, :format => :json), :class => "btn btn-default" %>

    <%= link_to "Edit", edit_event_path(e), :class => "btn btn-default" %>

    <%= link_to "Delete", event_path(e), :method => :delete, :class => "btn btn-danger" %>
    </td>
  </tr>

<% end %>
</table>

<%= link_to 'New Event', new_event_path %>

<%= paginate @events %>

<%= link_to "Atom feed", events_path(:format => :atom) %>