
<h2><%= @event.name %></h2>

<p>at <%= @event.created_at %></p>

<p id="is_open_label"><%= @event.is_open %></p>

<p><%= @event.status %></p>

<% if @event.logo.exists? %>

  <%= image_tag( @event.logo.url(:medium) ) %>

<% else %>
  None
<% end %>

<ul>
<% @event.groups.each do |g| %>
  <li><%= g.name %></li>
<% end %>
</ul>

<p><%= @event.category_name %></p>

<%= check_box_tag "check_open", toggle_event_path(@event),
                  (@event.status == "published") %> Open?

<%= simple_format @event.description %>

<h2>Attendee List</h2>
<%= form_for [@event, Attendee.new], :remote => true do |f| %>
  <%= f.text_field :name, :required => true %>
  <%= f.submit %>
<% end %>

<ul id="attendees-list">
<% @attendees.each do |a| %>
  <%= render :partial => "event_attendees/item", :locals => { :attendee => a } %>
<% end %>
</ul>

<% if @next_page %>
  <%= link_to "Load More", event_path(@event, :page => @next_page ), :remote => true, :class => "btn btn-primary", :id => "load-more" %>
<% end %>

<p><%= link_to 'Back to index', events_path %></p>


<script>

$("#check_open").click(function(){

  var this_checkbox = $(this);
  var is_checked = this_checkbox.prop("checked");
  var url = this_checkbox.val();
  var label = $("#is_open_label");

  this_checkbox.prop("disabled", true);

  console.log( is_checked );
  console.log( url );

   if ( is_checked ) {
     label.html("OPEN");
   } else {
     label.html("CLOSED");
   }

  $.ajax({
    type: "POST",
    url: url,
    dataType: "json",
    data: {
      is_checked: is_checked
    }
  }).success(function(data){

    this_checkbox.prop("disabled", false);

  })

});

  $(window).scroll(function(){
    if ( $(window).scrollTop() > $(document).height() - $(window).height() - 50 ) {
      var url = $("#load-more").attr("href");
      if (url) {
        $.ajax({
          type: "GET",
          url: url,
          dataType: "script"
        })
      } else {
        console.log("data ended")
      }
    }
  })

</script>

