
<h2><%= @event.name %></h2>

<p><%= @event.status %></p>

<% if @event.logo.exists? %>

  <%= image_tag( @event.logo.url(:medium) ) %>

<% else %>
  None
<% end %>

<ul>
<% @event.groups.each do |g| %>
  <li><%= g.name %></li>
<% end %>
</ul>

<p><%= @event.category_name %></p>

<%= simple_format @event.description %>

<h2>Attendee List</h2>
<%= form_for [@event, Attendee.new], :remote => true do |f| %>
  <%= f.text_field :name, :required => true %>
  <%= f.submit %>
<% end %>

<ul id="attendees-list">
<% @attendees.each do |a| %>
  <%= render :partial => "event_attendees/item", :locals => { :attendee => a } %>
<% end %>
</ul>

<% if @next_page %>
  <%= link_to "Load More", event_path(@event, :page => @next_page ), :remote => true, :class => "btn btn-primary", :id => "load-more" %>
<% end %>

<p><%= link_to 'Back to index', events_path %></p>

