
<h2><%= @event.name %></h2>

<p><%= @event.status %></p>

<% if @event.logo.exists? %>

  <%= image_tag( @event.logo.url(:medium) ) %>

<% else %>
  None
<% end %>

<ul>
<% @event.groups.each do |g| %>
  <li><%= g.name %></li>
<% end %>
</ul>

<p><%= @event.category_name %></p>

<%= simple_format @event.description %>

<p><%= link_to 'Back to index', events_path %></p>
