<%= link_to "過往訂單", orders_path %>

<h2>Your cart</h2>
<ul>
<% current_cart.line_items.each do |i| %>
  <li><%= i.product.title %> $<%= i.product.price %> x <%= i.qty %> = <%= i.amount %> </li>
<% end %>
</ul>

Total: <%= current_cart.amount %>

<%= link_to "Checkout", new_order_path, :class => "btn btn-danger" %>

<h2>Product list</h2>

<% cache [@products] do %>
<% @products.each do |p| %>

  <% cache p do %>
    <div class="item foobar">
      <%= image_tag(p.image_url, :width => 60) %><br>
      <%= link_to p.title, product_path(p) %>
      $<%= number_with_delimiter( p.price ) %>

      <%= button_to "Buy", buy_product_path(p), :class => "btn btn-primary btn-xs" %>

      剩餘: <%= p.qty_in_stock %>
    </div>
  <% end %>

<% end %>
<% end %>

<div class="clearfix"></div>
