<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title || "Rails Exercise" %> </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= include_gon %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-md-12">

      <% if flash[:notice].present? %>
        <div class="alert alert-success" role="alert">
          <%= flash[:notice] %>
        </div>
      <% end %>

      <% if flash[:alert].present? %>
       <div class="alert alert-danger" role="alert">
          <%= flash[:alert] %>
        </div>
      <% end %>


      <% if current_user %>

        Hi, <%= current_user.email %>

        <%= link_to('登出', destroy_user_session_path, :method => :delete) %> |
        <%= link_to('修改密碼', edit_registration_path(:user)) %>
      <% else %>

        <%= link_to('註冊', new_registration_path(:user)) %> |
        <%= link_to('登入', new_session_path(:user)) %> |

        <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>

      <% end %>




      <%= yield %>

      <% if current_user && current_user.admin? %>
        <%= link_to "admin", admin_events_path %>
      <% end %>

    </div>
  </div>
</div>

</body>
</html>
